extends extend/layout

block content

  .page.home

    .carousel
      .slides
        each val, index in config.carousel
          .slide.off(class='slide' + (index+1),data-slide=(index+1),style='background-image: url(/img/lrg/carousel/1440/' + val.image + ')')
      .loader.on
      .nav
        .arrow.left
        .arrow.right
        .dots
          each val in [1,2,3]
            .dot.off(class='dot' + val,data-dot=val)

    .intro
      .arrows
        include ../vector/arrows.svg

      .copy We are a full service creative studio that specializes in branding, packaging, and art direction.
      br
      .copy We work with our clients to elevate their brand by developing strategies and solutions to transform big ideas into stand out design.
      .arrows
        include ../vector/arrows.svg

    .instagram
      .title instagram
      .posts

  script(type='text/javascript').
    Carousel.i()
    Insta.i()

