.page.home
  > .intro
    padding 50px 0
    text-align center
    > .copy
      font: f.copy1
      max-width 700px
      margin auto
      letter-spacing 1px
    > .arrows
      width 600px
      height 40px
      margin 20px auto
  > .instagram
    > .title
      font: f.copy1
      color: c.gold1
      text-transform uppercase
      padding 0 0 0 3vw
    > .posts
      text-align center
      > .post
        width 17vw
        height 17vw
        padding 1vw
        position relative
        display inline-block
        animation cellInX 0.2s 0.25s ease-in both
        for num in 0..15
          &:nth-child({num})
            animation-delay unit(0.25 + ( num*0.1 ), 's')
        > img
          width inherit
          height inherit
        > .details
          position absolute
          opacity 0
          top 2vw
          left 2vw
          bottom 2vw
          right 2vw
          background-color: c.white1
          background-image url(/img/pattern.jpg)
          transition opacity 0.2s linear
          > .likes
            text-align center
            line-height 20vw
            transform perspective(1400px) rotateX(90deg)
            transition opacity 0.2s linear, transform 0.3s ease-out 0.2s
          /*&:hover
            opacity 0.8
            > .likes
              opacity 1
              transform perspective(1400px) rotateX(0deg)
          */

@media all and (min-width: 1px) and (max-width: 1000px)
  .page.home
    > .intro
      padding 20px 0
      > .copy
        padding 0 20px
      > .arrows
        width 90%
        height 40px
        margin 20px auto
    > .instagram
      > .title
        padding 0 0 0 5vw
      > .posts
        > .post
          width 90vw
          height 90vw
          padding 2vw
          position relative
          display inline-block
          animation cellInX 0.2s 0.25s ease-in both
