footer
  > .inner
    max-width 1200px
    padding 50px
    margin auto
    > .border
      margin auto
      border-top: 2px solid c.gold1
      > .logo
        width 100px
        height 75px
        margin -50px auto 0px auto
        background-color: c.white1
        padding 0 25px
        > svg > path
          fill: c.blue1
    > .sections
      font: f.copyl
      color: c.gold1
      text-transform uppercase
      text-align center
      > .section
        width 33%
        float left
        display inline-block
        height 100px
        padding 20px 0 0 0
        letter-spacing 2px
        &.address
          border-right: 2px solid c.gold
        &.follow
          border-right: 2px solid c.gold
          > .socials > .social
            display inline-block
            width 25px
            height 25px
            margin 20px 20px 0 20px
            padding 5px
            border-radius 3px
            transition background-color 0.2s linear
            &:hover
              background-color: c.blue1
            > svg
              fill: c.gold1
        &.address
          padding 20px 0 0 0 0
          > a 
            color: c.gold1
            > .copy
              padding 3px
        &.email
          > a.emailicon
            display block
            width 25px
            height 20px
            margin 20px auto
            padding 5px
            border-radius 3px
            transition background-color 0.2s linear
            &:hover
              background-color: c.blue1
            > svg > g > path
              fill: c.gold1

@media all and (min-width: 1px) and (max-width: 1000px)

  footer
    padding-top 50px
    > .inner
      max-width 1200px
      padding 10px
      margin auto
   
      > .sections
        > .section
          width 100%
          float none
          &.address, &.follow
            border-right: 0px solid transparent
