
header
  .inner
    max-width 1200px
    margin auto
    padding 50px
    > .logo
      float left
      > .vector
        width 400px
        height 65px
        > svg > g > g > path
          fill: c.blue1
      > .tagline
        width 380px
        text-align right
        font: f.copys
        color: c.brown1
        text-transform uppercase
        
    > .menu
      float right
      > ul
        padding 0
        margin 0
        > li
          display inline-block
          padding 20px 40px
          font: f.copy2
          > a
            color: c.blue1
            text-transform uppercase
