
header
  .inner
    a.logo(href='/')
      .vector
        include ../../pub/svg/logo1.svg
      .tagline
        .tag branding
        .tag.bar  
        .tag packaging
        .tag.bar
        .tag direction

    .menu
      ul
        li: a(href='/work/') work
          .active.on
        li: a(href='/studio/') studio
          .active.off
        li: a(href='/contact/') contact
          .active.off

    .clear
