
header
  .inner
    a.logo(href='/',data-page='/')
      .vector
        include ../../pub/svg/logo1.svg
      .tagline
        .tag branding
        .tag.bar  
        .tag packaging
        .tag.bar
        .tag direction

    .menu
      ul
        li: a(href='/work/',data-page='/work/') work
          .active.option_work.off
        li: a(href='/studio/', data-page='/studio/') studio
          .active.option_studio.off
        li: a(href='/contact/', data-page='/contact/') contact
          .active.option_contact.off

    .clear
