
header
  .inner
    a.logo(href='/')
      .vector
        include ../../pub/svg/logo1.svg
      .tagline branding | packaging | direction

    .menu
      ul
        li: a(href='/work/') work
        li: a(href='/studio/') studio
        li: a(href='/contact/') contact

    .clear
