
extends ../inc/layout

block content

  .page.studio

    .banner
      img(src='/img/studio/banner.jpg')
    .doublebar
    .copy Designsake Studio is a full-service design and branding studio founded upon the idea that good design should be simple, purposeful and authentic. Everything we do is for the sake of good design. <br />Here’s how we do it:
    .doublebar
    .title our process
    .copy Your brand is unique, and our work together will be as well. But one thing remains consistent - we won’t stop until you have an influential brand, as well as all the tools you need to bring it to life. We leverage the expertise of our team to understand your brand values, outline a custom strategy, and execute thoughtful design to create a high impact and tangible experience for your customers.

    .processes
      .section
        .inner
          .title strategy
          .copy The strategy phase will help us create the roadmap to your ultimate brand. Whether you’re launching a new brand, or reviving your existing brand, we’ll work together to understand your short and long-term goals. From there, we will research trends, study the competition, and gather inspiration to craft your brand’s positioning and messaging.
      .section
        .inner
          .title branding
          .copy Now that we have established who your brand is and where you want it to go, we must show what it stands for. Using your brand's values, custom strategy, and original graphics we will create a profound identity full of emotion and character.
      .section
        .inner
          .title print & packaging
          .copy We are passionate about using print and packaging mediums to elevate your customer’s on-going experience with your brand. We create unique pieces including business cards, signage, product boxes and labels, and retail displays with the intention of making something new and alluring.
      .section
        .inner
          .title web design & development
          .copy We design and develop all websites to be fully responsive and offer a seamless experience across all devices. We integrate your brand's identity and design elegant, modern user interfaces to create a fresh and exciting look for your brand’s website.
      .clear

    .doublebar

    .title services

    .services
      .background
        include ../../pub/svg/logo2.svg
      .section
        .inner
          .service comprehensive branding
          .service print & packaging design
          .service web design & development
      .section
        .inner
          .service art direction
          .service brand strategy
          .service event collateral
      .section
        .inner
          .service environmental design
          .service social media content
          .service digital marketing strategy
      .clear
    .doublebar
    .title behind the studio
    .behind
      .left
        img(src='/img/studio/danielle.jpg')
      .right
        .inner
          p Danielle McWaters is a designer with over 9 years of experience under her belt. She started her creative career as a photographer then transitioned into graphic design where she has since worked with big and small brands on branding, packaging, and global advertising campaigns. In 2014, she started her own boutique design studio, Designsake Studio, based in San Francisco.
          p Danielle is a believer of design and it’s ability to create new connections and lasting impressions. It drives her to create things that are not only authentic, but that matter.
          p When she isn’t designing, shes’s jammin’ out to The Very Best of Daryl Hall & John Oates, tasting the latest pizza SF has to offer, or on a plane adventuring the world with her husband.
      .clear
