extends ../inc/layout

block content

  .page.studio
    .banner
      img(src='/img/studio/banner.jpg')

    .doublebar

    .copy Designsake Studio was founded upon one code idea: to create, innovate, and execute all things for the sake ofg good design.  We firmly stand by this.  We believe that design should be simple, and serve a purpose.  It should evoke a response, create a memory, and make a lasting connection.  And here's how we do it:

    .doublebar

