
extends ../inc/layout

block content

  .page.studio
    .banner
      img(src='/img/studio/banner.jpg')
    .doublebar
    .copy Designsake Studio was founded upon one code idea: to create, innovate, and execute all things for the sake ofg good design.  We firmly stand by this.  We believe that design should be simple, and serve a purpose.  It should evoke a response, create a memory, and make a lasting connection.  And here's how we do it:
    .doublebar
    .title our process
    .copy We take your brand values and turn them into tangible experiences using custom strategy and thoughtful design.  Whether its manifesting your company's identity, or creating a new website, we collaborate with our clients from begining to end to bring their brand to life.  The result is a well-crafted influential brand, full of intention and authenticity.

    .processes
      .section
        .inner
          .title strategy
          .copy Design strategy is a crucial component whether you’re a start-up or established company looking to rebrand. In order to ensure a comprehensive solution to your design needs, we start by understanding your goals. We research trends, study the competition, and gather inspiration. From there we will develop strategies and solutions to transform big ideas into stand out design concepts.
      .section
        .inner
          .title branding
          .copy We explore what’s at the heart of your  company and learn about its beliefs. Using those beliefs, a custom strategy, and original artwork, we create a profound identity that your intended audience will want to experience over and over again. Then we take that identity and apply it to print and or digital platforms.
      .section
        .inner
          .title packaging & print
          .copy One of our greatest passions as a studio is creating visceral experiences through paper. We create custom print pieces from business cards to posters, product boxes, and labels. We use this medium to explore and push boundaries, and as an essential means to elevate your customer’s experience with your brand.
      .clear

    .doublebar

    .title services

    .services
      .background
        include ../../pub/svg/logo2.svg
      .section
        .inner
          .service comprehensive branding
          .service colateral & packaging design
          .service web design & development
      .section
        .inner
          .service art direction
          .service brand strategy
          .service event collateral

      .section
        .inner
          .service environmental design
          .service social media content
          .service digital marketing strategy
      .clear
    .doublebar
