@import 'guide/*'
@import 'guide/includes/*'

body, html
  margin 0
  padding 0

.clear
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

body
  background-color white1
  font-copy1()
  padding 50px 10px 0 10px
  margin 0 10px 0 10px
  &.off
    overflow hidden
    position fixed
    overflow-scrolling touch

  &.on
    overflow scroll

.burger
  display none

.container
  width 1168px
  margin auto
  min-height 200px
  position relative

.page
  min-height 200px
  margin 0 0 0 90px

.title
  font-h2()
  text-transform uppercase
  color blue1
  margin 0 0 60px 0

.subtitle
  font-h3()

a
  text-decoration none
  position relative

@media all and (min-width: 1px) and (max-width: 1000px)
  .burger
    display block
  body
    padding 0
    margin 0
  .container
    width auto
    margin 20px
  .page
    margin 0
  .title
    font-h3()
    margin 0 0 20px 0

.page.studio, .page.work
  background-color transparent
  padding 30px 0 0 0
  > .sidebar
    float right
    width 364px
    min-height 600px
    margin 0 0 30px 30px
    &.sidebar_mobile
      display none
    &.sidebar_desktop
      display block
    > .listing
      > .subtitle
        padding 0 0 10px 0
        text-transform uppercase
      > ul
        margin 0
        padding 0 0 20px 5px
        list-style-type none
        > li
          font-copy3()
          margin 0
          padding 0
          color grey1
          text-transform uppercase
          width auto
          > a
            color grey1
            display block
            font-copy3()
            text-decoration underline
            &:hover
              color gold1
    > .listing:nth-child(2) > ul
      columns 1




    > .sideimage
      width 364px
      height 525px
      background-image url('/images/tiles/studio/Office_364x525px_2.jpg')
      background-size contain
      float right

    > .largetext
      font-h4()
      float right
      text-transform uppercase
      color gold1
      text-align left
      letter-spacing 3px
      padding 30px 0 0 0

  > .bottombar
    padding 30px 0
    > .listing
      float left
      width 50% 
      > .subtitle
        padding 0 0 10px 0
        text-transform uppercase
      > ul
        margin 0
        padding 0 0 20px 5px
        list-style-type none
        columns 2
        > li
          font-copy3()
          margin 0
          padding 0
          color grey1
          text-transform uppercase
          width auto
          > a
            color grey1
            display block
            font-copy3()
            text-decoration underline
            &:hover
              color gold1
    > .listing:nth-child(2) > ul
      columns 1

  > .main
    border-bottom 1px solid blue1
    height 780px
    > .title
      text-align left
      font-h5()
      margin 0 0 30px 0
    > .subtitle
      text-transform uppercase
    > p
      font-copy3()
      color grey1
      margin-bottom 20px
      text-transform uppercase

  > .tiles
    margin 30px 0
    padding 0 0 10px 0

    > .tile
      background-size contain
      float left
      &.tile_office1
        width 1079px
        height 525px
        background-image url('/images/tiles/studio/Studio_1079x525px_2.jpg')
  > .bio
    margin 60px 0 120px 0
    > .picture
      float left
      width 416px
      height 477px
      background-image url('/images/danielle_mcwaters.jpg')
      background-size cover
    > .copys
      margin 0 0 0 550px
      padding 60px 0 0 0
      width 400px
      > .subtitle
        text-transform uppercase
      > .copy
        font-copy3()
        color grey1
        text-transform uppercase

@media all and (min-width: 1px) and (max-width: 1000px)
  .page.studio
    padding 0 0 30px 0
    > .sidebar
      float none
      width auto
      margin 0 0 30px 0
      &.sidebar_mobile
        display block
      &.sidebar_desktop
        display none
      > .sideimage
        width 100%
        background-size cover
        height 600px
        float none
      > .largetext
        margin 0 0 30px 0
    > .main
      height auto
      padding 0 0 30px 0
    > .bottombar
      > .listing
        float none
        width auto
    > .title
      font-h3()
    > .main
      margin 10px
    > .bio
      margin 30px 0 30px 0
      > .picture
        float none
        width 100%
      > .copys
        margin 0 0 60px 0
        float none
        padding 30px 0 120px 0
        width 100%

