font-h1()
  font-family engravers regular
  font-size 40px

font-h2()
  font-family chronicle roman
  letter-spacing 3px
  font-size 20px

font-h3()
  font-family chronicle roman
  letter-spacing 2px
  font-size 15px

font-h4()
  font-family revista stencilregular
  font-size 40px
  letter-spacing 2px

font-h5()
  font-family chronicle roman
  letter-spacing 3px
  font-size 20px
  line-height 32px

font-copy1()
  font-family chronicle roman
  font-size 16px

font-copy2()
  font-family chronicle roman
  font-size 12px
  letter-spacing 2px

font-copy2s()
  font-family chronicle roman
  font-size 8px
  letter-spacing 2px

font-copy3()
  font-family engravers regular
  font-size 11px
  letter-spacing 2px
  line-height 19px

font-copy4()
  font-family engravers regular
  font-size 10px
  letter-spacing 2px
  line-height 12px

