
vendor-prefixes ?= webkit moz o ms official

@import '/inc/mixins'
@import guide
@import '/inc/*'

.clear
  clearfix()

body
  padding 0
  margin 0
  font: f.copy1
a
  text-decoration none
  color: c.black1

#container
  min-height 500px

.page
  animation cellOutY 0.2s 0.25s ease-in both
  > .arrows
    width 200px
    height 40px
    margin 20px auto
    > svg > g > g > g > path
      fill: c.gold1
  > .copy
    text-align center
    font: f.copy2
    padding 10px 0


@import work
