.page.studio
  > .banner
    // 427:165
    text-align center

  > .doublebar
    border-top: 2px solid c.gold1
    border-bottom: 2px solid c.gold1
    height 20px
    margin 50px auto
    max-width 1200px

  > .copy
    margin 50px auto
    color: c.blue1
    letter-spacing 1px
    max-width 1000px
    font: f.copy1

  > .title
    font: f.h2
    text-align center

  > .processes
    max-width 1200px
    margin auto
    > .section
      float left
      width 33.33%
      > .inner
        padding 20px 50px
        > .title
          text-transform uppercase
          text-decoration underline
          text-align center
          padding 0 0 20px 0
        > .copy
          font: f.copy2
          color: c.blue1
          line-height 25px

  > .services
    max-width 1200px
    margin auto
    position relative
    > .background
      position absolute
      width 120%
      height 120%
      top -20%
      left -22%
      opacity 0.2
      > svg
        width inherit
        height inherit
        > path
          fill: c.blue1

    > .section
      float left
      width 33.33%
      > .inner
        padding 20px 50px
        > .service
          text-transform capitalize
          text-align center
          padding 20px 0

