.page.studio
  > .banner
    // 427:165
    text-align center


  > .doublebar
    border-top: 2px solid c.gold1
    border-bottom: 2px solid c.gold1
    height 20px
    margin 50px


  > .copy
    margin 50px
    color: c.blue1
    letter-spacing 1px
