
.page.work

  > .tiles
    text-align center
    margin 0 1.2vw

    > .tile
      display inline-block
      width 32.0vw
      height 16.0vw
      position relative
      animation cellInX 0.2s 0.25s ease-in both
      for num in 0..10
        &:nth-child({num})
          animation-delay unit(0.25 + ( num*0.1 ), 's')
      > .inner
        width 95%
        height 95%
        margin 0 2.5% 0 2.5%
        background-size 100%
        background-position 50% 50%
        background-repeat no-repeat
        transition background-size 2s linear
      > .white
        position absolute
        width 100%
        height 100%
        opacity 0
        background-color: c.white1
      > .title
        position absolute
        width 100%
        height 100%
        opacity 0
        font: f.h2
        letter-spacing 2px
        text-align center
        line-height 16vw
        text-transform uppercase
        transform-origin middle
        transform perspective(1400px) rotateX(90deg)
        transition opacity 0.2s linear, transform 0.3s ease-out 0.2s
      &:hover
        > .inner
          background-size 200%
        > .white
          opacity 0.5
        > .title
          opacity 1
          transform perspective(1400px) rotateX(0deg)


/*
@media all and (min-width: 1px) and (max-width: 1000px)
  .page.work > .tiles > .tile > .detail
      opacity 0.5 
      > .title
        opacity 1
        line-height 40vw
        transform perspective(1400px) rotateX(0deg)
*/

@media all and (min-width: 1px) and (max-width: 481px)
  .page.work > .tiles
    margin 0
    > .tile
      width 100vw
      height 49vw
      > .title
        line-height 49vw
 

@media all and (min-width: 482px) and (max-width: 1000px)
  .page.work > .tiles
    margin 0
    > .tile
      width 50vw
      height 24.5vw
      > .title
        line-height 24.5vw
